.borda{
    border-top:  8px solid #888;
    border-color: #0E3457;
    border-left: 0px;
    border-right:  0px;
    border-bottom:  0px;
}
.imgnotice {
    max-height: 200px;
    min-height: 200px;
    min-width: auto;

}
.carousel-caption{

    font-size: 15px;
}

.item{
    margin-top: 1%;
}

.navbar{
    margin-bottom: 3px;

}


/* mouse over no item de menu */
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #ffffff;

    background-color: #4da7af;
}



.carousel .item img {
    max-height: 380px;
    min-width: auto;
    min-height: 380px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}
nav {
    width: 100%;
    height: 30%;
    /* background: -webkit-linear-gradient(#3f9a15, #388813, #3f9a15, #388813, #3f9a15);
     background: -o-linear-gradient(#3f9a15, #388813, #3f9a15, #388813, #3f9a15);
     background: linear-gradient(#3f9a15, #388813, #3f9a15, #388813, #3f9a15);
     border-radius: 6px !important;
     -moz-border-radius: 6px !important;*/
}
.nav a{
    /* color: white !important;*/
    font-size: 1.2em !important;
}
.nav li{
    padding-right:5px;
}


/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;

}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}
.fundo{
    background-image: url(../img/fundo.jpg) ;
}
.topo{
    background-image: url(../img/welcome_background.png);
      opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    
    
}